@charset "UTF-8";

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

h1 {
	text-align: center;
}

#login {
	height: 33px;
	text-align: right;
	padding-right: 20px;
}

nav>ul {
	display: flex;
	justify-content: space-around;
	padding-left: 0;
	margin-bottom: 20px;
	list-style: none;
}

header {
	border-bottom: 1px solid black;
	margin-bottom: 20px;
}

header+div {
	width: 900px;
	margin: auto;
}

table.boardList {
	border-collapse: collapse;
	width: 750px;
	margin: auto;
}

table.boardList td, table.boardList th {
	padding: 10px;
}

table.boardList>thead {
	background-color: black;
	color: white;
}

table.boardList>thead th:nth-child(2) {
	width: 500px;
}

table.boardList>tbody>tr {
	border-bottom: 1px solid #dadada;
}

table.boardList>tbody>tr:hover {
	background-color: #eee;
}

div.sb {
	width: 750px;
	margin: 20px auto;
	display: flex;
	justify-content: space-between;
}

table.boardView {
	border-collapse: collapse;
	border: 2px solid black;
	box-shadow: 5px 5px 5px grey;
	width: 750px;
	margin: auto;
}

table.boardView td, table.boardView th {
	padding: 10px 20px;
}

table.boardView td:first-child {
	width: 150px;
}

table.boardView tr {
	border-bottom: 1px solid #dadada;
}

table.boardView img {
	height: 200px;
}